<h1>{{'HOME.TITLE' | translate}}</h1>
<select #langselect (change)="translate.use(langselect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang"
  [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>
<nav>
  <a routerLink="/dashboard">{{'HOME.DASHBOARD' | translate}}</a>
  &nbsp;
  <a routerLink="/heroes">{{'HOME.HEROES' | translate}}</a>
  &nbsp;
  <a routerLink="/ngrx-counter">{{'NGRX.COUNTER' | translate}}</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
